body {
  background-image: url(../image/backround.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.start-screen {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);

  z-index: 9999;
}

.start-box {
  text-align: center;

  padding: 40px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);

  backdrop-filter: blur(6px);

  color: white;
}
.h-728 {
  height: 200px;
}
.pt-15 {
  padding-left: 10%;
  padding-top: 65px;
}
#answers li {
  border-right: 4px solid #0d6efd;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  margin-bottom: 8px;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

/* hover */
#answers li:hover {
  background: rgba(13, 110, 253, 0.3);
}

/* đúng */
.correct {
  background: #198754 !important;
  color: white !important;
}

/* sai */
.wrong {
  background: #dc3545 !important;
  color: white !important;
}
.m-left {
  margin-left: 28%;
}
.m-top {
  margin-top: 160px;
}
.wg {
  width: 50%;
}
